@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

    --fonte-size-titulo: 2.25rem;
    --fonte-size-paragrafo: 1.5rem;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.apresentacao__cabeçalho {
    padding: 2% 0 0 15%;
}

.apresentacao__cabeçalho__menu {
    display: flex;
    gap: 3%;
}

.apresentacao__cabeçalho__menu__link {
    text-decoration: none;
    font-size: var(--fonte-size-paragrafo);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 6.5% 15%;
    display: flex;
    gap: 82px;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: var(--fonte-size-titulo);
    font-family: var(--fonte-primaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: var(--fonte-size-paragrafo);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: var(--fonte-size-paragrafo);
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--cor-secundaria);
    border-color: var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 21.5px 0;
    font-size: var(--fonte-size-paragrafo);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.foto__perfil {
    width: 50%;
}

.apresentacao__rodape {
    text-align: center;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    font-size: var(--fonte-size-paragrafo);
    font-family: var(--fonte-secundaria);
}

@media (max-width: 1200px){
    .apresentacao__cabeçalho__menu{
        justify-content: center;
    }

    .apresentacao__cabeçalho{
        padding: 10% 10% 5% 10% ;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
        gap: 50px;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    /*.foto__perfil{
        width: 80%;
    }*/

}